* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

nav {
    background-color: hsl(217, 28%, 15%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1em;
}
/* nav img{ */
/* width: 100px; */
/* padding: 2em; */
/* } */
ul {
    display: flex;
    justify-content: center;
    gap: 2em;
    padding-right: 2em;
}
@media screen and (max-width: 400px) {
    ul {
        gap: 15px;
        font-size: 14px;
        padding-left: 1em;
    }
}
ul li {
    list-style: none;
}
li a {
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    list-style: none;
    text-decoration: none;
}
a:hover {
    border-bottom: 1px solid #ffffff;
}
.Intro {
    background-color: hsl(217, 28%, 15%);
    text-align: center;
    justify-content: center;
    /* width: 100%; */
    /* background-image: url(/images/bg-curvy-desktop.svg); */
    /* background-repeat: no-repeat; */
}
.Intro .responsive {
    width: 100%;
    padding: 0 10vh;
    /* padding-right: 5vw; */
    margin: auto;
    height: auto;
    /* text-align: center; */
}
.Intro .curvy {
    width: 100%;
    margin: auto;
    top: 0;
    padding-top: 15vh;
}
@media screen and (max-width: 768px) {
    .Intro .curvy {
        display: none;
    }
}
.Intro .Mcurvy {
    display: none;
}
@media screen and (max-width: 768px) {
    .Intro .Mcurvy {
        display: flex;
        width: 100%;
        padding-top: 15vh;
    }
}
.Intro .ontop {
    position: absolute;
    top: 64vw;
}
.Intro .ontop h2 {
    color: #ffffff;
    text-align: center;
    font-weight: 700;
    padding: 0px 3vw;
    
}
.Intro p {
    color: aliceblue;
    font-size: 17px;
    margin-top: 6vh
}
.Intro button {
    color: #ffffff;
    background: hsl(176, 68%, 64%);
    padding: 1em 3em;
    border-radius: 20px;
    outline: hsl(176, 68%, 64%);
    cursor: pointer;
}
.sectionThree {
    background-color: hsl(218, 28%, 13%);
    color: white;
    margin: auto;
    padding: 0px 3vw;
    font-family: sans-serif;
}

.sectionThree div {
    text-align: center;
    padding: 20px 0px;
}

.sectionThree div img {
    padding-bottom: 30px;
    padding-top: 30px;
    width: 30%;
}

.sectionThree div h6 {
    font-size: 5vw;
    padding-bottom: 10px;
    font-weight: 700;
}

@media screen and (min-width: 764px) {
    .sectionThree div h6 {
        font-size: 24px;
    }
}

.sectionThree div p {
    font-size: 4vw;
    line-height: 1.5;
    font-weight: 400;
}

@media screen and (min-width: 764px) {
    .sectionThree div p {
        font-size: 18px;
        width: 350px;
    }
}

@media screen and (min-width: 764px) {
    .sectionThree div {
        display: flex;
        justify-content: space-evenly;
    }
}

.sectionFour {
    padding: 0px 3vw;
    font-family: sans-serif;
    background-color: hsl(218, 28%, 13%);
}
/* .fourImg {
    width: 700px;
} */

.sectionFour .fourImg img {
    width: 100%;
    padding-top: 70px;
    padding-bottom: 40px;
}

.fourContent {
    padding-left: 40px;
}

.fourContent h5 {
    color: #ffffff;
    font-size: 5.7vw;
    font-weight: 700;
    padding: 20px 0px;
}

@media screen and (min-width: 764px) {
    .fourContent h5 {
        font-size: 3vw;
    }
}

@media screen and (min-width: 1044px) {
    .fourContent h5 {
        font-size: 3vw;
        width: 30vw;
    }
}

.fourContent p {
    color: #ffffff;
    line-height: 1.5;
    padding: 10px 0px;
    font-weight: 300;
    font-size: 4vw;
}

@media screen and (min-width: 764px) {
    .fourContent p {
        font-size: 14px;
    }
}
@media screen and (min-width: 1116px) {
    .fourContent p {
        font-size: 19px;
    }
}

.fourContent a {
    color: hsl(176, 68%, 64%);
    text-decoration: none;
    align-items: center;
    font-size: 3.5vw;
}

@media screen and (min-width: 764px) {
    .fourContent a {
        font-size: 17px;
    }
}

.fourContent img {
    vertical-align: text-bottom;
    width: 3.5vw;
}

@media screen and (min-width: 764px) {
    .fourContent img {
        width: 20px;
    }
}

.fourContent .link {
    text-decoration: underline;
}

@media screen and (min-width: 764px) {
    .sectionFour {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.testimonial {
    z-index: -50;
    background-color: hsl(218, 28%, 13%);
    padding-top: 70px;
    padding-left: 3vw;
    padding-right: 3vw;
    color: #ffffff;
    font-family: sans-serif;
    padding-bottom: 250px;
    position: relative;
}

.testimonial div {
    background-color: hsl(219, 30%, 18%);
    margin: 30px 0px;
    padding: 20px 20px 3px 20px;
    font-size: 12.5px;
    line-height: 1.5;
    border-radius: 5px;
}

.testimonial .profile {
    display: flex;
    align-items: center;
    padding: 0px;
}

.profile h6 {
    font-size: 16px;
}

.profile p {
    font-size: 12.5px;
}

.testimonial img {
    width: 50px;
    border-radius: 70%;
}

span {
    padding-left: 10px;
    line-height: 1.5;
}

.testimonial .divOne {
    position: relative;
}

.divOne .quotes {
    position: absolute;
    top: -30px;
    z-index: -2;
    left: -5px;
}

@media screen and (min-width: 764px) {
    .testimonial {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }
}

@media screen and (min-width: 1044px) {
    .testimonial {
        display: flex;
        justify-content: space-between;
        gap: 70px;
    }
}

footer {
    position: relative;
    padding: 0px 3vw;
    background-color: hsl(216, 53%, 9%);
    font-family: sans-serif;
    padding-top: 150px;
}

footer img {
    padding-top: 50px;
    padding-left: 30px;
}

footer .card {
    background-color: hsl(217, 28%, 15%);
    color: #ffffff;
    padding: 10px;
    margin-right: 5vw;
    margin-left: 2vw;
}

.card h4 {
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card p {
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    padding-bottom: 20px;
}

.btnCard .btnC {
    display: flex;
    margin: auto;
    padding: 10px 30px;
    border-radius: 30px;
    outline: none;
    border: none;
    color: #ffffff;
}

.btnC input {
    border: none;
    outline: none;
    background-color: transparent;
}

.btnCard .btnCA {
    display: flex;
    margin: auto;
    padding: 10px 50px;
    border-radius: 30px;
    outline: none;
    border: none;
    margin-top: 30px;
    margin-bottom: 20px;
    background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    color: white;
    font-weight: 700;
}

@media screen and (min-width: 764px) {
    .btnCard {
        display: flex;
        width: 500px;
        margin: auto;
    }
}

.btnCard .btnC {
    padding: 10px 40px 10px 20px;
}

.btnCard .btnCA {
    padding: 10px 40px 10px 28px;
    border-radius: 10px;
    /* position: absolute; */
    top: -170px;
    /* display: contents; */
}

@media screen and (min-width: 914px) {
    .btnCard .btnCA {
        margin-left: 8vw;
        width: 750px;
    }
}
@media screen and (min-width: 1113px) {
    .btnCard .btnCA {
        margin-left: 20vw;
    }
}
@media screen and (min-width: 914px) {
    .foot {
        display: flex;
    }
}

.FooterLinks {
    padding-left: 20px;
}
.FooterLinks h4 {
    color: #ffffff;
    margin-top: 5vh;
}

@media screen and (max-width: 568px) {
    div.FooterLinks ul {
        display: block;
    }
}
@media screen and (min-width: 968px) {
    div.FooterLinks ul {
        display: block;
    }
}

.FooterLinks ul li a {
    color: #ffffff;
}

.icons i{
    color: #ffffff;

}
.foot{
    gap: 3vw;
    display: flex;
}
@media screen and (max-width:1000px) {
    .foot{
        display: block;
    }
}
.location p{
    font-size: 20px;
}
.foot .location span {
    display: flex;
    font-size: 20px;
    /* padding-top: 30px; */
    /* padding-bottom: 10px; */
    /* line-height: 1.5; */
    
}

@media screen and(min-width:656px) {
    .foot .location span {
        font-size: 15px;
    }
}

@media screen and (min-width: 991px) {
    .foot .location span i {
        font-size: 15px;
    }
}

.foot p {
    padding-left: 20px;
}

@media screen and (min-width: 991px) {
    .foot.location span p {
        font-size: 17px;
    }
}

.foot .location span p {
    color: #ffffff;
}
.foot span i {
    color: #ffffff;
}
.foot .location  span {
        display: flex;
        padding-top: 30px;
        padding-bottom: 10px;
        line-height: 1.5;
        font-size: 4vw;
}

         @media screen and(min-width:656px) {
            .foot .location  span {
                font-size: 3vw;   
            } 
        }
        
            @media screen and (min-width:991px) {
                .foot .location  span i{
                    font-size: 20px;  
                } 
            }
        

            .foot .location  span  p {
            padding-left: 20px;
            }

            @media screen and (min-width:991px) {
                .foot .location  span  p{
                    font-size: 17px;
                } 
            }

    @media screen and (min-width:991px) {
        .foot .location  span  p{
            width: 350px;
        } 
    } 

.foot .contact span  {
    color: #ffffff;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}
